<? INC Header.tmpl ?>
		<?IF !UserLoop?>
				There are no users defined.  Click <a href="adduser">here</a> if you would like to add one.
		<?ELSE?>
				<table>
					<thead>
					<tr>
						<td>Action</td>
						<td>Username</td>
						<td>Clients</td>
						<td>Current Server</td>
						<td>IRC Nick</td>
					</tr>
					</thead>

			<?LOOP UserLoop?>
					<tr class="<?IF __EVEN__?>evenrow<?ELSE?>oddrow<?ENDIF?>">
						<td>
							<span class="nowrap">
								[<a href="edituser?user=<?VAR Username ESC=URL?>">Edit</a>]
								<? IF !IsSelf ?>[<a href="deluser?user=<?VAR Username ESC=URL?>" onClick="return confirm('Do you really wish to remove this user?');">Delete</a>]<? ENDIF ?>
							</span>
						</td>
						<td><? VAR Username ESC=HTML ?></td>
						<td><? VAR Clients ESC=HTML ?></td>
						<td><? VAR Server ESC=HTML DEFAULT="-N/A-" ?></td>
						<td><? VAR IRCNick ESC=HTML ?></td>
					</tr>
			<?ENDLOOP?>
				</table>
				<form action="cloneuser" method="post">
					<p>
						Select a user and enter a new username to clone a user.
						TODO: Make this look better
					</p>
					<select name="user">
						<? LOOP UserLoop?>
						<option value="<? VAR Username ESC=HTML ?>"><? VAR Username ESC=HTML ?></option>
						<? ENDLOOP ?>
					</select>
					<input type="text" name="newuser" value="New user name" class="half" maxlength="128" />
					<input type="submit" value="Copy user" />
				</form>
		<?ENDIF?>
<? INC Footer.tmpl ?>
